# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Environment variables - all .env files everywhere
.env
.env.*
**/.env
**/.env.*

# Node.js dependencies
node_modules/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Project specific
**/frames/
**/leetcoe_screenshots/