# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Node.js dependencies
node_modules/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
.env
**/frames/
**/leetcoe_screenshots/